.bg{
    border: 10px yellowgreen groove;
    height: 98%;
    width:98%;
    background-image: url(./pngtree-hot-pot-gourmet-food-poster-image_206143.jpg);
    background-size: auto;
}
div{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top{
    background-color: black;
    color: white;
    border: solid red 3px;
    border-radius: 30px;
    font-style: italic;
    height: 18vh;
    width: 28%;
    padding: 20px;
    margin: 10px;
}

.middle{
    background-color: black;
    color: white;
    width: 35%;
    padding: 20px;
    height: 6vh;
    border-radius: 30px;
    border: solid 3px red;
    font-style: italic;
    padding-top: 15px;
    margin-left: -230px;
}


.last{
    background-color: black;
    color: white;
    border: solid red 3px;
    border-radius: 30px;
    font-style: italic;
    height: 21vh;
    width: 28%;
    padding: 20px;
    margin: 10px;
}

.containercr{
    display: flex;
    justify-content: space-evenly ;
    padding-top: 50px;

}
.circle{
    border: rgb(202, 189, 189) solid 7px;
    margin-top: 100px;
    padding-inline: 20px;
    padding-top: 5%;
    text-align: center;
    background-color: darkcyan;
    border-radius: 50%;
    width: 350px;
    height: 290px;
    text-decoration: underline;

}

input{
    text-align:center;
 }

.form{
    background-color: white;
    color: red;
    border: dashed 5px red;
    width=10%
    margin-bottom: 30px;
}

.menu{
    background-color: black;
    color: white;
    width: 35%;
    padding: 20px;
    height: 6vh;
    border-radius: 30px;
    border: solid 3px red;
    font-style: italic;
    padding-top: 15px;
    margin-left: 400px;
}
.sticky{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 60px;
   padding-bottom: 60px;
   text-justify: inherit;

}
.chart{
    background-color: aquamarine;
    color: blue;
    border: 4px solid green;
    width: 26%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 30px;
}